<div class="navbar2-text">
	<span data-bind="attr: { title: 'Enclosure Temperature' }, html: enclosureTemp() "></span>
	<span class="enclosure-fan-state" data-bind="attr: { title: 'Fan State' }, text: fanState() "></span>
</div>

