<div>
	<span id="enclosureInfo" data-bind="attr: { title: 'Enclosure Temperature' }, html: enclosureTemp()"></span>
	<span id="enclosureFanState" data-bind="attr: { title: 'Fan State' }, text: fanState()"></span>
</div>
